body{
    background-image: url("https://i.pinimg.com/originals/c8/d9/7c/c8d97cecfb2e7f99bc384533f2624489.gif");
    background-size: cover;
}

h2{
    font-size: 2em;
    color:black;
    font-weight: lighter;
    text-align: center;
    margin: 30px;
}
.form {
    width: 50%; 
    margin: 0 auto; 
    background: rgba(255,255,255,0.3);
    padding: 50px; /* Add some padding for better spacing */
    border:none;
    border-radius: 35px;
}

.form label {
    display: block;
    margin-bottom: 10px; /* Add space between labels */
    font-size:1.1em;
}

.form label:last-child {
    margin-bottom: 20px; /* Add extra space after the last label */
}

.name {
    display: flex;
    justify-content:left;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    width: calc(100% - 50px); 
    padding: 10px;
    margin-bottom: 15px; 
    margin-top:5px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid lightgray; /* Add a border */
    border-radius: 5px; /* Add some border radius for better appearance */
}

.form textarea {
    resize: vertical; /* Allow vertical resizing of the textarea */
}

.form input[type="submit"] {
    width: 50%; /* Make submit button full width */
    padding: 10px;
    background-color: rgba(255,255,255,0.5); /* Set button color */
    color: color; 
    border: 1px solid lightgray;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin:0 auto;
    
}

.form input[type="submit"]:hover {
    background-color: rgba(0,0,0,0.5);
    color:white;
    text-decoration: underline;
}

@media only screen and (prefers-color-scheme: dark) {
    .form input[type="text"],
    .form input[type="email"],
    .form textarea {
        background-color: rgba(0,0,0,0.5);
        color:lightgray
    }

    .form {
        background-color: rgba(0,0,0,0.3);
    }

    .form input[type="submit"] {
        background-color: rgba(0,0,0,0.5); /* Set button color */
        color: white; 
        border: 1px solid lightgray;
        border-radius: 25px;
        cursor: pointer;
        display: block;
        margin:0 auto;
        
    }

    .form input[type="submit"]:hover {
        background-color: rgba(255,255,255,0.3);
        color:black;
        text-decoration: underline;
    }


}

